body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.logo {
    max-width: 100px;
    margin-bottom: 1rem;
}

main {
    width: 80%;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* h1, */
h2 {
    color: #4CAF50;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #4CAF50;
    color: white;
    margin-top: 2rem;
}